.title {
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    line-height: 28px;
}

.text {
    color: #848789;
    font-size: 18px;
    line-height: 34px;
}

